@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --light: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(0, 32, 43);
    display: flex;
    flex-direction: column;
    color: #fff;
}

.main {
    width: 100vw;
    padding: 2px;
}

.bg {
    width: 50%;
    margin: 20px auto;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50px;
    color: #fff;
    background: linear-gradient(145deg,
            rgba(255, 255, 255, 0.12),
            rgba(255, 255, 255, 0.02));
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.container {
    padding: 20px 28px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(6px);
}

.container h2 {
    text-align: center;
    font-size: 30px;
}

.content {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.content>* {
    flex: 1;
    min-width: 200px;
}

.sine,
.cosine,
.mixed {
    border: 1px solid rgba(255, 255, 255, 0.4);
    transition: all .3s ease;
    padding: 10px;
    border-radius: 50px;
    padding: 20px 28px;
    background: rgba(0, 32, 42, 0.2);
    backdrop-filter: blur(6px);
}

.sine:hover,
.cosine:hover,
.mixed:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.img-container img {
    width: 100%;
    border-radius: 50px;
}

.description h3 {
    text-align: center;
    position: relative;
    /* bottom: 35px; */
}

.description p {
    font-size: 13px;
    color: #bdbbbb;
    position: relative;
}

.disabled {
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    backdrop-filter: blur(2px);
    z-index: 9999;
    pointer-events: all;
    cursor: not-allowed !important;
}